<!doctype html>
<html>
<head>
    <title>TV Shows Scheduler</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="/static/css/jquery-ui.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/theme.css" rel="stylesheet">

    <style>
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
        #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>

    <script type=text/javascript src="/static/js/jquery-1.11.3.min.js"></script>
    <script type=text/javascript src="/static/js/jquery-ui.min.js"></script>
    <script type=text/javascript src="/static/js/jquery.ui.touch-punch.min.js"></script>
    <script type=text/javascript src="/static/js/objects.js"></script>
    <script type=text/javascript src="/static/js/common.js"></script>
    <script type="text/javascript">

    var shows = new Map();
    var startTime;

    var load_table = function() {
      $.getJSON('/_get_table',  // At this URL
                { time:getTime() },          // With no extra parameters
                function(data) {
                  table = document.getElementById("table_shows");
                  if(table.rows.length > 1) {
                    for(var i = 1; i < table.rows.length; i++) {
                      table.deleteRow(i);
                    }
                  }

                  startTime = new DisplayTime(data.table[0].plan);

                  for(var i = 0; i < data.table.length; i++) {
                    generateRow(table, i, data.table[i], getTime());
                  }
                });
    };

    $(document).ready(load_table);

    var refresh = function() {
      table = document.getElementById("table_shows");
      updateTable(table.rows, getTime());
    };

    setInterval(refresh, 1000);

    function generateRow(table, index, rowData, nowString) {
      now = new DisplayTime(nowString);
      show = new Show(rowData)
      shows.set(rowData.seq, show);
      row = table.insertRow(index + 1);
      row.insertCell(0).innerText = index + 1;
      row.insertCell(1).innerText = show.number;
      row.insertCell(2).innerText = show.name;
      row.insertCell(3).innerText = show.duration.toString();
      row.insertCell(4).innerText = show.plan.toString();
      row.insertCell(5).innerText = now.toString();
      gap = show.plan.minus(now);
      row.insertCell(6).innerText = gap.toString();
      row.insertCell(7).innerText = "";
    }


    function updateTable(rows, nowString) {
      now = new DisplayTime(nowString);
      for(var i = 1; i < rows.length; i++ ) {
        var row = table.rows[i];
        var show = shows.get(row.cells[1].innerText);
        row.cells[4].innerText = show.plan.toString();
        row.cells[5].innerText = now.toString();
        var gap = show.plan.minus(now);
        row.cells[6].innerText = gap.toString();
        row.cells[7].innerText = getRecommendation(show, now).toString();
      }
    }

    function getRecommendation(show, now) {
      var validShows = new Array();
      shows.forEach(function(value, key) {
        if(value.number != show.number && value.plan.greaterThan(now) || value.plan.equal(now)) {
          validShows.push(value);
        }
      });

      recommendation = new Array();

      gap = show.plan.minus(now);

      validShows.forEach(function(value){
        if(gap.greaterThan(value.duration)){
          recommendation.push(value.number);
        }
      });

      return recommendation
    }

    function showDialog() {
      document.getElementById("dialog-upload").style.visibility = "visible"
      $("#dialog-upload").dialog({
        modal:true,
        buttons: {
          Cancel: function() {
            $("#dialog-upload").dialog("close");
          }
        }
      });
    }

    function saveTable() {
      $.ajax({
        url: '/_save_table',
        type: 'POST',
        data: jsonizeShows(shows),
        dataType: 'json',
        contentType:'text/json'
      }).done(function(data) {
        if(data.result=='ok') {
          document.getElementById("button_table_changed").style.visibility = "hidden";
          document.getElementById("label_table_changed").style.visibility = "hidden";
        }
      });
    }

    function jsonizeShows(data) {
      table = document.getElementById("table_shows");
      rows = table.rows;
      arr = new Array();
      for(var i = 1; i < rows.length; i++) {
        show = data.get(rows[i].cells[1].innerText);
        arr.push(show);
      }
      return JSON.stringify(arr);
    }

    $(".sortable_table").on('click', '.up, .down', function(event){
      var row = $(this).closest("tr");
      if ($(this).is(".up")) {
        row.insertBefore(row.prev());
      } else {
        row.insertAfter(row.next());
      }
      row.fadeOut();
      row.fadeIn();
    });

    $(function() {
      var fixHelper = function(e, ui) {
	      ui.children().each(function() {
		      $(this).width($(this).width());
	      });
	      return ui;
      };

      var sortHelper = function(e, ui) {
        var table = ui.item.parent()[0];

        // Regenerate the sequence numbers
        for(var i = 1; i < table.rows.length; i++) {
          table.rows[i].cells[0].innerText = i;
          show = shows.get(table.rows[i].cells[1].innerText);
          if(i == 1) {
            show.plan = startTime;
          } else {
            prev_show = shows.get(table.rows[i-1].cells[1].innerText);
            show.plan = prev_show.plan.plus(prev_show.duration);
          }
        }

        document.getElementById("button_table_changed").style.visibility = "visible";
        document.getElementById("label_table_changed").style.visibility = "visible";
        $('#label_table_changed').text("节目顺序已经被调整！");
      };

      $( ".sortable_table tbody" ).sortable({
        helper: fixHelper,
        update: sortHelper
      });

      $( ".sortable_table tbody" ).disableSelection();
    });

    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">TV Shows Scheduler</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" onclick="document.location.reload(true)">重新载入当前时间表</a></li>
                <li><a href="#" onclick="showDialog()">上传新的时间表</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" id="tableContainer">
        <div id="table_holder">
            <table class="table table-hover sortable_table" id="table_shows">
                <tr>
                    <th>播放序号</th>
                    <th>编号</th>
                    <th>名称</th>
                    <th>时长</th>
                    <th>计划时间</th>
                    <th>当前时间</th>
                    <th>时间空当</th>
                    <th>推荐节目编号</th>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <label id="label_table_changed" class="ctl_status_changed"
               style="visibility:hidden; background-color:red"></label>
        <br>
        <button id="button_table_changed" class="ctl_status_changed btn btn-primary btn-sm"
                style="visibility:hidden" onclick="saveTable()">
            保存现有顺序
        </button>
    </div>
    <div>
        <!--<div class="row">-->
        <!--<div class="col-xs-3">-->
        <!--<label placeholder=".col-xs-3">Refresh interval (in seconds)</label>-->
        <!--</div>-->
        <!--<div class="col-xs-2">-->
        <!--<select class="form-control" id="interval" placeholder=".col-xs-2">-->
        <!--<option>1</option>-->
        <!--<option>5</option>-->
        <!--<option>10</option>-->
        <!--<option>30</option>-->
        <!--<option>60</option>-->
        <!--</select>-->

        <!--</div>-->
        <!--</div>-->

        <div id="dialog-upload" title="上传新的时间表" style="visibility:hidden">
            <form method=post enctype=multipart/form-data>
                <fieldset>

                    <label for="exampleInputFile">docx格式的时间表文件</label>
                    <input type=file name=file>

                    <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                </fieldset>
            </form>
        </div>
    </div>

    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
