<!doctype html>
<html>
<head>
    <title>TV Shows Scheduler</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="/static/css/jquery-ui.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/theme.css" rel="stylesheet">

    <script type=text/javascript src="/static/js/jquery-1.11.3.min.js"></script>
    <script type=text/javascript src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript">

    var refresh = function() {
        $.getJSON('/_get_table',  // At this URL
                  { time:getTime() },          // With no extra parameters
                  function(data) {
                      html = '<table id="table_shows" class="table table-hover"><tr><th>Sequence</th><th>Name</th><th>Duration</th><th>Plan</th><th>Current Time</th><th>Gap</th><th>Recommendation</th></tr>';
                      for(var i = 0; i < data.table.length; i++) {
                          html += getRow(data.table[i]);
                      }

                      $("#table_holder").html(html);
                  });
        };

    setInterval(refresh, 1000);

    function getRow(rowData) {
        if(rowData.gap.charAt(0) == "-") {
            var html = '<tr class="danger">';
        } else {
            var html = '<tr class="success">';
        }

        html += "<td>" + rowData.seq + "</td>";
        html += "<td>" + rowData.name + "</td>";
        html += "<td>" + rowData.duration + "</td>";
        html += "<td>" + rowData.plan + "</td>";
        html += "<td>" + rowData.current + "</td>";
        html += "<td>" + rowData.gap + "</td>";
        html += "<td>" + rowData.recommendation.toString() + "</td>";

        return html
    }

    function getTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s  =today.getSeconds();

        m = checkTime(m);
        s = checkTime(s);

        return h + ":" + m + ":" + s;
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    function showDialog() {
        document.getElementById("dialog-upload").style.visibility = "visible"
        $("#dialog-upload").dialog({
            modal:true,
            buttons: {
                Cancel: function() {
                    $("#dialog-upload").dialog("close");
                }
            }
        });
    }

    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">TV Shows Scheduler</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" onclick="showDialog()">Upload a new schedule</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">

    <div class="row">
        <div id="table_holder"></div>
    </div>

    <!--<div class="row">-->
        <!--<div class="col-xs-3">-->
            <!--<label placeholder=".col-xs-3">Refresh interval (in seconds)</label>-->
        <!--</div>-->
        <!--<div class="col-xs-2">-->
            <!--<select class="form-control" id="interval" placeholder=".col-xs-2">-->
                <!--<option>1</option>-->
                <!--<option>5</option>-->
                <!--<option>10</option>-->
                <!--<option>30</option>-->
                <!--<option>60</option>-->
            <!--</select>-->

        <!--</div>-->
    <!--</div>-->

    <div id="dialog-upload" title="Upload a new schedule" style="visibility:hidden">
        <form method=post enctype=multipart/form-data>
            <fieldset>

                    <label for="exampleInputFile">CSV file for schedule</label>
                    <input type=file name=file>

                <button type="submit" class="btn btn-primary btn-sm">Upload</button>
            </fieldset>
        </form>
    </div>
</div>

<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>